* {
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ui {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.loading {
    width: 100%;
    height: 100%;
    font-size: 5rem;

    background-color: #111111;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loading svg {
    animation: rotate 2.5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.main-menu {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-btn {
    font-size: 5rem;
    padding: 0.5rem 10rem;
    margin-top: 128px;

    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 0px;
    outline: none;

    transition: background-color 0.2s;
}

.action-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.action-btn:active {
    background-color: rgba(0, 0, 0, 0.8);
}

.highscore {
    font-size: 2rem;
    padding: 0.5rem 10rem;
    margin-top: 32px;
    
    color: white;
}



.playing {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score {
    font-size: 5rem;
    padding: 0.5rem 10rem;
    margin-top: 128px;
    
    color: white;
}

.pause-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    color: white;
    font-size: 2.5rem;
}



.pause-menu {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.result-menu {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-result {
    font-size: 2rem;
    padding: 0.5rem 10rem;
    margin-top: 32px;
    
    color: white;
}

.highscore-message {
    font-size: 1.5rem;
    letter-spacing: 3px;
    padding: 0.5rem 10rem;
    margin-top: 32px;
    
    color: white;
}